/* Header.css */
header {
    background-color: #000; /* Black background */
    padding: 1rem;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    color: #ffd700; /* Yellow text */
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
    color: #ffcc00;
  }
  